Node dependencies
/frontend/node_modules/
/frontend/build/

Python dependencies & artifacts
/backend/pycache/
/backend/venv/
/backend/.db
/backend/.db-journal

Environment variables (if you add them later)
.env

Operating System files
.DS_Store
Thumbs.db